{% extends "base.html" %} {% load static %}
<!---->
{% block title %} {{ block.super }} about us {% endblock title %}
<!---->

{% block content %}
<!--section   -->
<div class="breadcrumbs-header fl-wrap">
  <div class="container">
    <div class="breadcrumbs-header_url">
      <span>Technikod </span><a href="{% url  'posts:home' %}">Home</a
      ><span>About</span>
    </div>
    <div class="scroll-down-wrap">
      <div class="mousey">
        <div class="scroller"></div>
      </div>
      <span>Continue Reading...</span>
    </div>
  </div>
  <div class="pwh_bg"></div>
</div>
<!-- section end  -->
<!--section   -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="section-title sect_dec">
          <h2>About Technikod</h2>
          <p>
            Technikod is your go-to source for practical advice and tips on
            markets, trading, forex, investing, saving, buying and selling, and
            making money. We're here to simplify the complex world of finance
            and empower you with the knowledge you need to navigate it
            confidently.
          </p>
        </div>
        <div class="about-wrap">
          <div class="section-title sect_dec"><h4>Who We Are</h4></div>
          <p>
            At Technikod, we understand the importance of your financial
            journey. Our mission is to provide you with valuable insights and
            expertise, making financial topics accessible to everyone. Whether
            you're a beginner or an experienced investor, we're dedicated to
            helping you achieve your financial goals.
          </p>

          <div class="section-title sect_dec"><h4>What We Offer</h4></div>
          <p>
            Our platform covers a wide range of topics, including market trends,
            trading strategies, forex insights, investment guides, money-saving
            tips, and advice on buying and selling. We believe in empowering you
            with the knowledge to make informed financial decisions.
          </p>

          <div class="section-title sect_dec">
            <h4>Why Choose Technikod</h4>
          </div>
          <p>
            With Technikod, you can trust that the information provided is
            reliable, straightforward, and tailored to your needs. We strive to
            create a community where individuals can learn, grow, and succeed in
            their financial endeavors. Join us on this exciting journey to
            financial empowerment!
          </p>

          <div class="section-title sect_dec"><h4>Contact Us</h4></div>
          <p>
            If you have any questions or suggestions, feel free to reach out.
            Your feedback is important to us! Please
            <a href="{% url 'contact' %}">contact us</a>, and let's navigate the
            world of finance together.
          </p>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <div class="about-img fl-wrap">
          <img
            src="{% static 'images/bg/Technikodx.png' %}"
            class="respimg"
            alt="boss"
          />
          <div class="about-img-hotifer color-bg">
            <p>
              "A comfortable cage holds no legend, you have to risk something to
              get a greater something in return "
            </p>
            <h4>Dan De Lion</h4>
          </div>
        </div>
        <br />
        <br />
        <br />
        <br />
      </div>
      <br />
    </div>
  </div>
  <div class="sec-dec"></div>
</section>
<br />
<!--
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="section-title sect_dec">
          <h4>Technikod Ethical Principles</h4>
        </div>
        <div class="about-wrap">
          <p>
            At Technikod, we are committed to being the most trusted global news
            source. Our dedication is to produce journalism that consistently
            upholds the highest standards. Regardless of the subject matter or
            target audience, our journalism reflects our unwavering commitment
            to quality and integrity. Our company's reputation and the
            credibility of our journalism hinge on our steadfast adherence to
            these shared values.
          </p>
        </div>
        <div class="section-title sect_dec">
          <h4>Error Corrections at Technikod:</h4>
        </div>
        <div class="about-wrap">
          <p>
            Identified errors in our published content are addressed promptly at
            Technikod. Corrections are issued through the appropriate medium,
            whether it's in print, digital, video, or social media. For articles
            on our website, a correction notice is appended to rectify any
            inaccuracies.
          </p>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <div class="about-img fl-wrap">
          <img src="{% static 'images/bg/you1.jpg' %}" class="respimg" alt="" />
          <div class="about-img-hotifer color-bg">
            <p>
              "Embrace each sunrise as a new opportunity to write your success
              story"
            </p>
            <h4>Miss Mello</h4>
            <h5>Technikod Editor</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sec-dec"></div>
</section>
<br />

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="section-title sect_dec">
          <h4>Technikod Subscriptions</h4>
        </div>
        <div class="about-wrap">
          <p>
            As part of our revenue model, Technikod offers subscriptions to our
            products. Rest assured, our revenue-generating activities never
            compromise our editorial standards.
          </p>
        </div>
        <div class="section-title sect_dec">
          <h4>Technikod Advertising and Sponsored Content</h4>
        </div>
        <div class="about-wrap">
          <p>
            Technikod generates revenue through advertising and branded content.
            It's important to note that advertisements and branded content are
            developed and sold separately from Technikod's categories. All
            branded content is clearly labeled as such, and it's essential to
            understand that advertisements do not reflect the views of
            Technikod's editorial staff.
          </p>
          <p>
            Occasionally, the editorial team may create packages, stories, and
            newsletters sponsored by advertisers. In such cases, these pieces
            are clearly marked as "sponsored by." However, please be assured
            that editorial content produced in collaboration with sponsors is
            developed in the same rigorous manner as our standard editorial
            content and adheres to the same high editorial standards.
          </p>
        </div>
        <div class="section-title sect_dec">
          <h4>Technikod Affiliate Links</h4>
        </div>
        <div class="about-wrap">
          <p>
            In some of our blog posts and news articles, you may find affiliate
            links. When you make a purchase through these links, Technikod may
            receive a commission, without any additional cost to you as the
            purchaser. We want to emphasize that Technikod is never compensated
            to provide a positive review of a product or to include it in a
            buying guide. Our reviews remain entirely independent and unbiased.
          </p>
        </div>
        <div class="section-title sect_dec">
          <h4>Get In Touch with Technikod</h4>
        </div>
        <div class="about-wrap">
          <p>
            We welcome your feedback and contributions. If you wish to reach out
            to our editorial team, please send your letters to
            editor.Technikod@gmail.com. For publication consideration, please
            include your full name, location, and contact information.
          </p>
          <p>
            Stay informed with Technikod - Your Source for Global News Updates.
          </p>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <div class="about-img fl-wrap">
          <img
            src="{% static 'images/bg/lionnicx.jpg' %}"
            class="respimg"
            alt=""
          />
          <div class="about-img-hotifer color-bg">
            <p>
              "The pursuit of excellence is a daily commitment, not an end goal"
            </p>
            <h5>Technikod Writers</h5>
          </div>
        </div>

        <br />
        <div class="about-img fl-wrap">
          <img src="{% static 'images/bg/you3.jpg' %}" class="respimg" alt="" />
          <div class="about-img-hotifer color-bg">
            <p>
              "Embrace your failures as stepping stones, leading you to the
              greatest version of yourself"
            </p>
            <h4>Prof J Kwasa.</h4>
            <h5>Technikod Software Engineer</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sec-dec"></div>
</section>
<br />
<br />
-->
<!--about end   -->
{% endblock content %}
