{% extends "base.html" %} {% load static %}
<!---->
{% block title %}
{{ block.super }} about us 
{% endblock title %}
<!---->

{% block content %}
 <!--section   -->
 <div class="breadcrumbs-header fl-wrap">
    <div class="container">
        <div class="breadcrumbs-header_url">
            <a href="{% url  'posts:home' %}">Home</a><span>About</span>
        </div>
        <div class="scroll-down-wrap">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
            <span>Scroll Down To Discover</span>
        </div>
    </div>
    <div class="pwh_bg"></div>
</div>
<!-- section end  -->
<!--section   -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="section-title sect_dec">
                    <h2>Our Story</h2>
                    <h4>Who we are</h4>
                </div>
                <div class="about-wrap">
                    <p>As Lionnic, we channel the fearless spirit of a lion, committed to being your steadfast guide. Our purpose is simple: to deliver dependable, real-time insights that traverse the ever-evolving landscape of our world. Join us on this journey towards a brighter future, where facts pave the way. Rely on Lionnic for news, counsel, and wisdom that truly count, as we believe that knowledge illuminates the path to progress.</p><br>
                    <p>Lionnic, a globally renowned brand with an enduring legacy, has earned the trust of over 10 million individuals worldwide. Lionnic commenced by providing concise weekly news updates, tailored for those with demanding schedules.</p><br>
                    <p>At our core, we are dedicated to providing trustworthy insights into the influential ideas and figures shaping our world. This dedication is the cornerstone of our expanding divisions, innovative products, and collaborative solutions.</p><br>
                    
                    <p>Our dedication to this mission forms the bedrock of our organization, and it's what propels us forward. Lionnic is a name that signifies excellence, and it signifies a commitment to truth and knowledge. It's not just about news; it's about enlightenment. Our rapidly expanding divisions, innovative products, and collaborative solutions all share one common goal: to empower you, our valued audience, with the most reliable and enlightening information.</p><br>

                   <p> With Lionnic, you're not just receiving news; you're embarking on a journey towards a brighter and more informed future. We firmly believe that knowledge is the key to progress, and we invite you to be part of this inspiring quest. The world is evolving, and we're evolving with it, all the while upholding the values that have made us a trusted name. We're not just a brand; we're your partners in the pursuit of wisdom and understanding.</p><br>

                    <p>As we venture into the future, Lionnic is here to guide you through the complexities of our age, ensuring that you're always well-informed, united by knowledge, and driven by facts. Trust in Lionnic for news that matters, because at Lionnic, we're not just delivering information; we're shaping a more enlightened world.</p>

                    <!-- <a href="" class="btn float-btn color-btn image-popup"> <span>Our Story Video</span> <i class="fas fa-caret-right"></i></a> -->
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                
                <div class="about-img fl-wrap">
                    <img src="{% static 'images/bg/buze.jpg' %}" class="respimg" alt="boss">
                    <div class="about-img-hotifer color-bg">
                        <p>"Everyone of us is born great, only those who achieve greatness can admit it"</p>
                        <h4>Dan De Lion</h4>
                        <h5>Lionnic CEO</h5>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                
                
                <div class="about-img fl-wrap">
                    <img src="{% static 'images/bg/bos1.jpg' %}" class="respimg" alt="director">
                    <div class="about-img-hotifer color-bg">
                        <p>"Legends are born when ordinary people embrace extraordinary dreams"</p>
                        <h4>Prof. Oscar K. Kach</h4>
                        <h5>Lionnic Director</h5>
                    </div>
                </div>
                
                
                
                
            </div>
            <br>
            
        </div>
    </div>
    <div class="sec-dec"></div>
</section>
<br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="section-title sect_dec">
                    
                    <h4>Ethical Principles</h4>
                </div>
                <div class="about-wrap">
                    <p>At Lionnic, we aspire to be the most trusted global news source. Our unwavering dedication is to produce journalism that consistently upholds the highest standards. Regardless of the subject matter or target audience, our journalism reflects our unwavering commitment to quality and integrity. Our company's reputation and the credibility of our journalism hinge on our steadfast adherence to these shared values.</p>
                    
                </div>
                <div class="section-title sect_dec">
                    
                    <h4>Error Corrections:</h4>
                </div>
                <div class="about-wrap">
                    <p>We take any identified errors in our published content seriously. Upon confirmation, Lionnic promptly issues corrections through the appropriate medium, whether it's in print, digital, video, or social media. For articles on our website, a correction notice is appended to rectify any inaccuracies.</p>
                    
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="about-img fl-wrap">
                    <img src="{% static 'images/bg/you1.jpg' %}" class="respimg" alt="">
                    <div class="about-img-hotifer color-bg">
                        <p>"Embrace each sunrise as a new opportunity to write your success story"</p>
                        <h4>Miss Mello</h4>
                        <h5>Lionnic Editor</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec-dec"></div>
</section>
<br>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="section-title sect_dec">
                    
                    <h4>Subscriptions</h4>
                </div>
                <div class="about-wrap">
                    <p>As part of our revenue model, Lionnic offers subscriptions to our products. Rest assured, our revenue-generating activities never compromise our editorial standards.</p>
                    
                </div>
                <div class="section-title sect_dec">
                    
                    <h4>Advertising and Sponsored Content</h4>
                </div>
                <div class="about-wrap">
                    <p>Lionnic generates revenue through advertising and branded content. It's important to note that advertisements and branded content are developed and sold separately from Lionnic's categories. All branded content is clearly labeled as such, and it's essential to understand that advertisements do not reflect the views of Lionnic's editorial staff.</p>
                        <p> Occasionally, the editorial team may create packages, stories, and newsletters sponsored by advertisers. In such cases, these pieces are clearly marked as "sponsored by." However, please be assured that editorial content produced in collaboration with sponsors is developed in the same rigorous manner as our standard editorial content and adheres to the same high editorial standards.
                        </p>
                    
                </div>
                <div class="section-title sect_dec">
                    
                    <h4>Affiliate Links</h4>
                </div>
                <div class="about-wrap">
                    <p>In some of our blog posts and news articles, you may find affiliate links. When you make a purchase through these links, Lionnic may receive a commission, without any additional cost to you as the purchaser. We want to emphasize that Lionnic is never compensated to provide a positive review of a product or to include it in a buying guide. Our reviews remain entirely independent and unbiased.</p>
                    
                </div>
                <div class="section-title sect_dec">
                    
                    <h4>Get In Touch</h4>
                </div>
                <div class="about-wrap">
                    <p>We welcome your feedback and contributions. If you wish to reach out to our editorial team, please send your letters to editor.Lionnic@gmail.com. For publication consideration, please include your full name, location, and contact information. </p>
                    <p>Stay informed with Lionnic - Your Source for Global News Updates. </p>
                    
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="about-img fl-wrap">
                    <img src="{% static 'images/bg/lionnicx.jpg' %}" class="respimg" alt="">
                    <div class="about-img-hotifer color-bg">
                        <p>"The pursuit of excellence is a daily commitment, not an end goal"</p>
                        <h5>Lionnic Writers</h5>
                    </div>
                </div>
                
                <br>
                <div class="about-img fl-wrap">
                    <img src="{% static 'images/bg/you3.jpg' %}" class="respimg" alt="">
                    <div class="about-img-hotifer color-bg">
                        <p>"Embrace your failures as stepping stones, leading you to the greatest version of yourself"</p>
                        <h4>Prof J Kwasa.</h4>
                        <h5>Lionnic Software Engineer</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec-dec"></div>
</section>
<br>
<br>
<!--about end   -->
{% endblock content %}