{% extends "base.html" %} {% load static %} {% block meta %}
<meta name="keywords" content="" />
{% endblock meta %} {% include "meta/meta_tags2.html" %}

<!---->
{% block title %} {{ block.super }} {{post.title}} {% endblock title %}
<!---->

{% block content %}

<!-- checking for bg -->

{% if post.bg_image %}

<!--section   -->
<section class="hero-section">
  <div class="bg-wrap hero-section_bg">
    <div class="bg" data-bg="{{post.bg_image.url}}"></div>
  </div>
  <div class="container">
    <div class="hero-section_title hs_single-post">
      <a class="post-category-marker color-bg" href="">{{post.category}}</a>
      <span class="post-date">
        <i class="fa-solid fa-clock fa-spin fa-lg" style="color: #5a0b7f"></i>
        {{post.createdAt|date:"d M Y"}}</span
      >
      <div class="clearfix"></div>
      <h2>{{post.title}}</h2>
      <h5>{{post.summary|truncatewords:"10"}}</h5>
      <div class="author-link">
        <a href="{{post.writer.get_public_profile_url}}">
          <img
            src="{% if post.writer.avatar %}{{post.writer.avatar.url}}{% else %}{% static 'images/avatar/ceod.jpg' %}{% endif %}"
            alt="{{post.writer.username}}"
          /><span
            >By
            {{post.writer.full_name|default:post.writer.username|upper}}</span
          >
        </a>
      </div>
      <ul class="post-opt">
        <li>
          <!-- https://feathericons.dev/?search=eye&iconset=feather -->
          <i class="fa-solid fa-message fa-fade" style="color: #0c376e"></i>
          {{post.comments}}
        </li>
        <li>
          <i class="fa-solid fa-eye fa-beat" style="color: #78075a"></i>
          {{post.views}}
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <div class="scroll-down-wrap scw_transparent">
      <div class="mousey">
        <div class="scroller"></div>
      </div>
      <span>Scroll Down To Discover</span>
    </div>
  </div>
</section>
{% endif %}
<!-- section end  -->
<div class="breadcrumbs-section fl-wrap">
  <div class="container">
    <div class="breadcrumbs-header_url">
      <a href="{% url  'posts:home' %}">Home</a
      ><span>{{post.title|upper}}</span>
    </div>
    <div class="share-holder hor-share">
      <div class="share-title">Share:</div>
      {% include "shared/socialplatforms.html" %}
    </div>
  </div>
  <div class="pwh_bg"></div>
</div>
<!--section   -->

<!-- sections -->
<section>
  <div class="container">
    <div class="row">{% include "pages/sections/main.html" %}</div>
    <div class="limit-box fl-wrap"></div>
  </div>
</section>

<!-- Banner -->

{% include "shared/banner.html" %} {% endblock content %}
