{% extends "base.html" %} {% load static %}
<!---->

{% include "meta/meta_policy.html" %}



{% block content %}
<!--section   -->
<div class="breadcrumbs-header fl-wrap">
    <div class="container">
        <div class="breadcrumbs-header_url">
            <a href="{% url  'posts:home' %}">Home</a><span> Privacy Policy</span>
        </div>
        <div class="scroll-down-wrap">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
            <span>Scroll Down To Discover</span>
        </div>
    </div>
    <div class="pwh_bg"></div>
</div>
<!-- section end  -->
<!--section   -->
```html
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class= "elementor-section elementor-top-section elementor-element elementor-element-5f319da5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5f319da5" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5d529692" data-id="5d529692" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-3d14b9b elementor-widget elementor-widget-gamg-sec-title" data-id="3d14b9b" data-element_type="widget" data-widget_type="gamg-sec-title.default">
                                    <div class="elementor-widget-container">
                                        <i>Last Updated: September 30, 2023</i>
                                        <br>
                                        <br>

                                        <div class="section-title sect_dec"><h2>Who We Are</h2></div>

                                        <p>At Lionnist, we recognize the significance of your privacy. This Privacy Policy outlines how we gather, utilize, and disclose information when you interact with our advice and tips services, covering our website, mobile apps, email newsletters, and related offerings. Please be aware that this policy is applicable globally and may be subject to different regulations based on your location.</p>

                                        <div class="section-title sect_dec"><h3>1. Information We Collect</h3></div>

                                        <p>We gather various types of information to effectively provide you with our services:</p>
                                        <p><strong>Information You Provide:</strong> When visitors leave comments on the site, we collect data shown in the comments form, along with the visitor’s IP address and browser user agent string for spam detection. If you subscribe to our newsletters or access our content, we may collect your name, email address, and contact details. Voluntary demographic information, such as age and gender, may also be provided. Interactions on social media may result in the collection of basic account information.</p>
                                        <p><strong>Information from Other Sources:</strong> We may obtain additional information from third-party sources, including demographic data, social networks, and publicly-available data.</p>

                                        <div class="section-title sect_dec"><h3>2. How We Use the Information We Collect</h3></div>

                                        <p>We utilize the collected information for various purposes:</p>
                                        <p><strong>Provide Expert Advice and Tips:</strong> Share market insights, trading strategies, forex analysis, investment guidance, savings tips, buying and selling advice, and ways to make money.</p>
                                        <p><strong>Communicate with You:</strong> Respond to inquiries, personalize communications, and send service-related announcements.</p>
                                        <p><strong>Make Improvements to Our Services:</strong> Develop new content, enhance platform design, and analyze service usage for an improved user experience.</p>
                                        <p><strong>Provide Recommendations and Deliver Relevant Content:</strong> Offer advice and content tailored to your financial interests, market our services, and send promotional communications.</p>
                                        <p><strong>Investigate Illegal Activities:</strong> Detect and prevent unauthorized use of our services, protect user rights and our organization, and comply with applicable laws.</p>

                                        <div class="section-title sect_dec"><h3>3. Cookies</h3></div>

                                        <p><strong>Cookie Policy:</strong> Managing cookies and tracking technologies is crucial for online privacy. You can control them by:</p>
                                        <p>If you leave a comment on our site, you may opt-in to saving your name, email address, and website in cookies. These cookies last for one year. Temporary cookies may be set when you visit our login page, which contains no personal data and is discarded when you close your browser. Login cookies and screen options cookies may also be set for varying durations based on your choices.</p>

                                        <div class="section-title sect_dec"><h3>4. Embedded Content from Other Websites</h3></div>

                                        <p>Articles and posts may include embedded content behaving similarly to the visitor having visited the external website. Embedded content from other websites may collect data, use cookies, and monitor interactions.</p>

                                        <div class="section-title sect_dec"><h3>5. Disclosure of Information</h3></div>

                                        <p>We may disclose your information publicly, to affiliates, in the event of a business transaction, to service providers, and to third parties for marketing purposes or in response to legal requests.</p>

                                        <div class="section-title sect_dec"><h3>6. Third-Party Websites</h3></div>

                                        <p>Our services may contain links to third-party websites with their own privacy policies. We are not responsible for the privacy practices of these external sites.</p>

                                        <div class="section-title sect_dec"><h3>7. Your Privacy Rights</h3></div>

                                        <p>You have the right to opt-out of certain data disclosures, request access to your personal information, request deletion of your data, and opt-out of the sale of your personal information.</p>

                                        <div class="section-title sect_dec"><h3>8. Security of Personal Information</h3></div>

                                        <p>We implement safeguards to protect your information, although no system is entirely foolproof.</p>

                                        <div class="section-title sect_dec"><h3>9. Retention of Personal Information</h3></div>

                                        <p>We retain your personal information only as long as necessary, either by deleting or anonymizing it.</p>

                                        <div class="section-title sect_dec"><h3>10. Special Note for Parents</h3></div>

                                        <p>Our services are not intended for users under the age of 13. We do not knowingly collect their personal information.</p>

                                        <div class="section-title sect_dec"><h3>11. Changes to this Privacy Policy</h3></div>

                                        <p>We may periodically update this policy, and the revised version will be posted on our website.</p>

                                        <div class="section-title sect_dec"><h3>12. Who We Share Your Data With</h3></div>

                                        <p>If you request a password reset, your IP address will be included in the reset email.</p>

                                        <div class="section-title sect_dec"><h3>13. How Long We Retain Your Data</h3></div>

                                        <p>Comments and their metadata are retained indefinitely. Users can see, edit, or delete their personal information. Website administrators can also see and edit that information.</p>

                                        <div class="section-title sect_dec"><h3>14. What Rights You Have Over Your Data</h3></div>

                                        <p>Users can request an exported file of their personal data, including any provided information. Users can also request the erasure of their personal data.</p>

                                        <div class="section-title sect_dec"><h3>15. Where Your Data is Sent</h

3></div>

                                        <p>Visitor comments may be checked through an automated spam detection service.</p>

                                        <div class="section-title sect_dec"><h3>16. Contact Us</h3></div>

                                        <p>If you have questions or concerns about this Privacy Policy or our data practices, please <a href="{% url 'contact' %}">Contact us</a> on our page.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<br>
<br>
<!--about end   -->
{% endblock content %}