{% extends "base.html" %} {% load static %}
<!---->

{% include "meta/meta_terms.html" %} {% block content %}
<!--section   -->
<div class="breadcrumbs-header fl-wrap">
  <div class="container">
    <div class="breadcrumbs-header_url">
      <a href="{% url  'posts:home' %}">Home </a
      ><span> Terms & Conditions</span>
    </div>
    <div class="scroll-down-wrap">
      <div class="mousey">
        <div class="scroller"></div>
      </div>
      <span>Scroll Down To Discover</span>
    </div>
  </div>
  <div class="pwh_bg"></div>
</div>
<!-- section end  -->
<!--section   -->

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title sect_dec">
          <h2>Lionnic Terms of Service</h2>
        </div>

        <p>
          These Terms of Service ("Terms") constitute a binding agreement
          between you and Lionnic Platform ("Lionnic," "us," "our," or "we").
          They outline the terms and conditions for using our websites,
          applications, and services, including any sales, marketing activities,
          or other services available online or offline under Lionnic
          ("Services").
        </p>

        <div class="section-title sect_dec"><h3>Acceptance of Terms</h3></div>

        <p>
          By accessing or using our Sites or Services, you indicate that you
          have read, understood, and agreed to be bound by these Terms. If you
          disagree with any part of these Terms, kindly refrain from using the
          Sites and Services.
        </p>

        <div class="section-title sect_dec"><h3>Eligibility</h3></div>

        <p>
          You must be at least 15 years old or have reached the age of majority
          in your jurisdiction to use the Sites and Services. By using our
          Services, you confirm that you meet the age requirements and have the
          legal capacity to be bound by these Terms.
        </p>

        <div class="section-title sect_dec">
          <h3>Electronic Form/Communications</h3>
        </div>

        <p>
          When using our Sites or Services, you consent to receiving this
          agreement electronically and receiving communications from us through
          various channels, including postal mail, email, or notices on the
          Sites. This complies with legal requirements for written
          communication.
        </p>

        <div class="section-title sect_dec">
          <h3>Account And Contact Information</h3>
        </div>

        <p>
          <strong>Access to the Sites and Services:</strong> Accessing and
          browsing some sections of the Sites or Services does not require a
          purchase. However, to access all features, creating an account and
          making a purchase may be necessary.
        </p>

        <p>
          <strong>Account Creation:</strong> You can create a Lionnic Account by
          submitting required information. Falsifying information may result in
          suspension or termination of your right to use the Services.
        </p>

        <p>
          <strong>Security:</strong> You are responsible for securing your
          Lionnic Account and ensuring your devices are free from malicious
          content. Notify Lionnic immediately of any unauthorized access or
          security breach.
        </p>

        <div class="section-title sect_dec"><h3>Contacting You</h3></div>

        <p>
          By providing contact information, you establish a business
          relationship with us, and you consent to being contacted through
          various means, such as email or telephone, in accordance with
          Applicable Laws.
        </p>

        <div class="section-title sect_dec"><h3>Arbitration Agreement</h3></div>

        <p>
          <strong>Informal Process First:</strong> Before resorting to formal
          resolution, you agree to make a good faith effort to resolve disputes
          informally by contacting us.
        </p>

        <p>
          <strong>Arbitration Option:</strong> If a dispute remains unresolved
          after 60 days, we agree to resolve it through arbitration in
          accordance with our arbitration process.
        </p>

        <div class="section-title sect_dec">
          <h3>Your Use of Our News Platform</h3>
        </div>

        <p>
          <strong>User Guidelines:</strong> Adhere to guidelines for personal
          use, avoiding modifications, malware, exploitation, and unlawful
          content. Respect privacy and report violations to the provided email
          address.
        </p>

        <div class="section-title sect_dec">
          <h3>Monitoring and Content Management</h3>
        </div>

        <p>
          We may monitor network traffic, review, disable access, or edit
          content for security, legal compliance, addressing harmful content,
          and improving performance.
        </p>

        <div class="section-title sect_dec">
          <h3>User-Generated Content</h3>
        </div>

        <p>
          You can share content with other users, understanding that it is
          public, subject to review, and that we are not responsible for misuse.
          Embedding videos is allowed with conditions.
        </p>

        <div class="section-title sect_dec"><h3>Embedded Videos</h3></div>

        <p>
          Embedded videos can be used with conditions, including not altering
          the video and using the provided Player. Commercial use is allowed
          with restrictions.
        </p>

        <div class="section-title sect_dec">
          <h3>Report Objectionable Content</h3>
        </div>

        <p>
          If objectionable content is encountered, users are encouraged to
          report it to us.
        </p>

        <div class="section-title sect_dec"><h3>Content Licensing</h3></div>

        <p>
          By posting content, users grant us a worldwide, non-exclusive license
          to use, reproduce, and display it. Users represent ownership and
          confirm compliance with laws and third-party rights.
        </p>

        <div class="section-title sect_dec"><h3>Feedback Submission</h3></div>

        <p>
          Unauthorized idea submissions are not accepted. Feedback provided is
          non-confidential and may be used without compensation.
        </p>

        <div class="section-title sect_dec"><h3>Termination</h3></div>

        <p>
          We may terminate access for violation of terms without affecting legal
          rights.
        </p>

        <div class="section-title sect_dec"><h3>Third-Party Links</h3></div>

        <p>
          Our platform may contain links to other websites, and we are not
          responsible for their content or policies.
        </p>

        <div class="section-title sect_dec">
          <h3>Linking to Our Platform</h3>
        </div>

        <p>
          Linking to our platform is allowed following guidelines, without
          framing or obscuring our content.
        </p>

        <div class="section-title sect_dec">
          <h3>Data Collection Policy</h3>
        </div>

        <p>No third party may collect data without permission.</p>

        <div class="section-title sect_dec">
          <h3>Modification of Services</h3>
        </div>

        <p>We may modify services without obligation to provide updates.</p>

        <div class="section-title sect_dec"><h3>Injunctive Relief</h3></div>

        <p>We can seek injunctive relief for any breach of these terms.</p>

        <div class="section-title sect_dec">
          <h3>Ownership of Content and Marks</h3>
        </div>

        <p>
          <strong>Ownership and Protection:</strong> Lionnic owns all content
          and materials on the platform. Users are granted a limited license for
          personal use related to staying informed about global news.
        </p>

        <div class="section-title sect_dec">
          <h3>Notices Regarding Third-Party Content</h3>
        </div>

        <p>
          Some visual content may have specific usage restrictions. Users can
          only download such content for personal, non-commercial use.
        </p>

        <div class="section-title sect_dec">
          <h3>Reporting Copyright Infringements</h3>
        </div>

        <p>
          If users believe material infringes copyright, a written request with
          specific information must be submitted.
        </p>

        <div class="section-title sect_dec">
          <h3>Disclaimer of Warranties</h3>
        </div>

        <p>
          <strong>Using Lionnic:</strong> Use is voluntary, and Lionnic does not
          guarantee uninterrupted or error-free service. Content and information
          are provided "as is."
        </p>

        <p>
          <strong>Accuracy and Reliability:</strong> Lionnic does not guarantee
          correctness, accuracy, timeliness, or reliability of information.
          Users are responsible for evaluating information accuracy.
        </p>

        <p>
          <strong>Your Responsibility:</strong> Users must evaluate information
          accuracy and seek professional advice for financial, health, or
          lifestyle matters.
        </p>

        <div class="section-title sect_dec"><h3>Remarks</h3></div>

        <p>
          We hope these updated terms enhance your experience using Lionnic. For
          questions or concerns, feel free to contact us. Stay informed and
          enjoy using Lionnic!
        </p>
      </div>
    </div>
  </div>
</section>

<!--about end   -->

<br />
<br />

{% endblock content %}
