{% load static %}
<!--
<div class="section-title">
    <h2>Lastest World News</h2>
    
    <div class="ajax-nav">
        
            <ul>
                <li> <a href="{% url 'posts:posts' %}"><i class="current_page"></i>News</a></li>
                <li> <a href="{% url 'posts:posts' %}"><i></i>Entertainment</a></li>
                <li> <a href="{% url 'posts:posts' %}"><i></i>Business</a></li>
                <li> <a href="{% url 'posts:posts' %}"><i></i>Sports</a></li>
                <li> <a href="{% url 'posts:posts' %}"><i></i>Internet</a></li>
            </ul>
    
            
    </div>
</div>
<div class="ajax-wrapper fl-wrap">
    <div class="ajax-loader"><img src="{% static 'images/loading.gif' %}" alt=""/></div>
   <div id="ajax-content" class="fl-wrap"> 
    
    TODO: ADD AJAX CALL LATER HERE 

    
    

    </div> 
    
     xxxxxxxxxxxxxxxxxxxxxxxxxxx     adds section 
</div>



<div class="content-banner-wrap cbw_mar">
    <img src="{% static 'images/ads.png' %}" class="respimg" alt="">
</div>
<div class="clearfix"></div>

-->

<div class="section-title">
  <h2>Premium Posts</h2>

  <div class="ajax-nav">
    <ul>
      <li><a href="#" class="current_page">Sponsered</a></li>
      <li><a href="#">Advertisment</a></li>
      <li><a href="#">Long Reads</a></li>
      <li><a href="#">Spotlight</a></li>
    </ul>
  </div>
</div>
<div class="ajax-wrapper fl-wrap">
  <div class="ajax-loader"><img src="images/loading.gif" alt="" /></div>
  <div id="ajax-content" class="fl-wrap">
    {% if is_premium %}
    <div class="ajax-inner fl-wrap">
      <div class="list-post-wrap">
        <!--list-post-->
        {% for post in is_premium %}
        <div class="list-post fl-wrap">
          <div class="list-post-media">
            <a href="{{post.get_absolute_url}}">
              <div class="bg-wrap">
                <div
                  class="bg"
                  data-bg="{% if post.bg_image %}{{post.bg_image.url}}{% else %}{{post.image.url}}{% endif %}"
                ></div>
              </div>
            </a>
            <span class="post-media_title">&copy; Image Copyrights Title</span>
          </div>
          <div class="list-post-content">
            <a class="post-category-marker" href="#"
              >{{post.topic.sub_category.categor.name}}</a
            >
            <h3>
              <a href="{{post.get_absolute_url}}"
                >{{post.title|truncatewords:"10"}}</a
              >
            </h3>
            <span class="post-date"
              ><i class="far fa-clock"></i>
              <!---->
              {{post.createdAt|date:"d M Y"}}</span
            >
            <p>{{post.summary|truncatewords:"50"}}</p>
            <ul class="post-opt">
              <li><i class="far fa-comments-alt"></i> {{post.comments}}</li>
              <li><i class="fal fa-eye"></i> {{post.views}}</li>
            </ul>
            <div class="author-link">
              <a href="{{post.writer.get_public_profile_url}}"
                ><img
                  src="{% if post.writer.avatar %}{{post.writer.avatar.url}}{% else %}{% static 'images/avatar/1.jpg' %}{% endif %}"
                  alt=""
                />
                <span>{{post.writer.username}}</span></a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
<div class="content-banner-wrap cbw_mar">
  <img
    src="https://cdn.jsdelivr.net/gh/dlion4/lionnic-nov/static/images/all/banner.jpg"
    class="respimg"
    alt=""
  />
</div>
<div class="clearfix"></div>

<div class="content-banner-wrap cbw_mar">
  <img src="{% static 'images/ads.png' %}" class="respimg" alt="" />
</div>
<div class="clearfix"></div>
