<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8" />
    <title>{% block title %} Lionnist | {% endblock title %}</title>
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <!-- To specify when Google should recheck the page -->
    <meta name="revisit-after" content="2 days" />
    <!-- Canonical tag to indicate the preferred version of the page -->
    <link rel="canonical" href="https://www.lionnist.com/posts/" />

    <meta name="description" content="" />
    {% include "meta/meta_tags.html" %} {% block meta %}{% endblock meta %}
    <!--=============== css  ===============-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/plugins.css' %}"
    />

    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/color.css' %}"
    />
    <style>
      /* Adjust the size as needed */
      .small-icon {
        width: 12px;
        height: 12px;
      }
    </style>
    <link type="text/css" rel="stylesheet" href="{% static 'stylenew.css' %}" />
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="{% static 'images/lion2.png' %}" />

    <!--=============== ADS SETTINGS ===============-->

    <!---->

    <!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.css"
    />

    <!--Tinymce-->
    <script
      src="https://cdn.tiny.cloud/1/{{tinymce_apikey}}/tinymce/6/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-243G0XDKR6"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-243G0XDKR6");
    </script>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-K8W5VFSF");
    </script>
    <!-- End Google Tag Manager -->
    <!--adcash head tag-->
    <script
      id="aclib"
      type="text/javascript"
      src="//acscdn.com/script/aclib.js"
    ></script>
    <!--end of head tag-->
  </head>
  <body>
    <!-- main start  -->
    <div id="main">
      <!-- progress-bar  -->
      <div class="progress-bar-wrap">
        <div class="progress-bar color-bg"></div>
      </div>
      <!-- progress-bar end -->

      <!-- header -->
      {% include "common/header.html" %}
      <!-- /header -->

      <!--Wrapper-->

      <div id="wrapper">
        <div class="content">{% block content %} {% endblock content %}</div>
        <!---->

        <!-- footer -->
        {% include "common/footer.html" %}
        <!-- /footer -->

        {% block aside %} {% endblock aside %}
      </div>

      <!--/Wrapper-->

      <!-- cookie-info-bar -->
      <div class="cookie-info-bar">
        <div class="container">
          <div class="cookie-info-bar_title">
            <i class="fal fa-cookie"></i>Our site uses cookies to improve our
            services. Learn more about our use of cookies:
            <a href="{% url 'privacy' %}">Cookie policy</a>
          </div>
          <a href="#" class="sicb_btn color-bg">Accept</a>
          <a href="#" class="sicb_btn">Reject</a>
        </div>
      </div>
      <!-- cookie-info-bar end -->

      <script>
        setTimeout(function () {
          // Check if the user has already seen the notification by looking for a cookie
          function hasCookieConsent() {
            return document.cookie.indexOf("cookieConsent=true") !== -1;
          }

          // Function to set a cookie that indicates the user has accepted the cookies
          function setCookieConsent() {
            var expirationDate = new Date();
            expirationDate.setFullYear(expirationDate.getFullYear() + 5); // Cookie valid for 1 year
            document.cookie =
              "cookieConsent=true; expires=" +
              expirationDate.toUTCString() +
              "; path=/";
          }

          // Show the cookie notification only if the user hasn't seen it before
          if (!hasCookieConsent()) {
            var cookieInfoBar = document.getElementById("cookie-info-bar");
            var acceptCookieButton = document.getElementById("accept-cookie");
            var rejectCookieButton = document.getElementById("reject-cookie");

            if (cookieInfoBar && acceptCookieButton && rejectCookieButton) {
              cookieInfoBar.style.display = "block";

              acceptCookieButton.addEventListener("click", function () {
                setCookieConsent();
                cookieInfoBar.style.display = "none";
                // You can add code here to handle cookie acceptance
              });

              rejectCookieButton.addEventListener("click", function () {
                cookieInfoBar.style.display = "none";
                // You can add code here to handle cookie rejection
              });
            }
          }
        }, 8000);
      </script>
    </div>
    <!--=============== scripts  ===============-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

    <script src="{% static 'js/contextmenu.js' %}"></script>

    <script>
      setTimeout(function () {
        const isNoticeSeen = window.localStorage["noticeSeen"] === "true";
        if (isNoticeSeen) {
          $(".cookie-info-bar").css("display", "none");
        } else {
          $(".sicb_btn").click(function () {
            window.localStorage["noticeSeen"] = true;
          });
        }
      }, 10000);
    </script>

    <script>
      const windowLocation = window.location.href;
      const searchInput = document.getElementById("lionnic_qs");
      const searchForm = document.getElementById("lionnic_qs_form");
      const resultBox = document.getElementById("lionnic_result");
      const csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0]
        .value;
      console.log(csrfToken);

      searchInput.addEventListener("keyup", function (e) {
        console.log(e.target.value);
      });
    </script>

    <!--js fo sms-->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace();
    </script>

    <!--page reload-->
    <script>
      function reloadPagePeriodically() {
        setTimeout(function () {
          location.reload();
        }, 5 * 60 * 1000); // 5 minutes
      }
      reloadPagePeriodically();
    </script>

    <!---->
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-K8W5VFSF"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!--adcash script-->
    <script type="text/javascript">
      aclib.runAutoTag({
        zoneId: "mhlyhmwizo",
      });
    </script>
    <!--eddn of adcash scripts-->
    <!--adcash interstatial ads-->
    <script
      data-cfasync="false"
      type="text/javascript"
      src="//predictivadnetwork.com/a/display.php?r=7867302"
    ></script>

    <!--adcash popinpge-->
    <script type="text/javascript">
      aclib.runInPagePush({
        zoneId: "7867322",
        refreshRate: 30,
        maxAds: 2,
      });
    </script>
    <!--end of inoage-->
    <!--adcash script-->
    <script data-cfasync="false" type="text/javascript">
      var adcashMacros = {};
      var zoneNativeSett = {
        container: "awn",
        baseUrl: "discovernative.com/script/native.php",
        r: [7867406],
      };
      var urls = {
        cdnUrls: ["//superonclick.com", "//geniusonclick.com"],
        cdnIndex: 0,
        rand: Math.random(),
        events: ["click", "mousedown", "touchstart"],
        useFixer: !0,
        onlyFixer: !1,
        fixerBeneath: !1,
      };
      function acPrefetch(e) {
        var t,
          n = document.createElement("link");
        (t =
          void 0 !== document.head
            ? document.head
            : document.getElementsByTagName("head")[0]),
          (n.rel = "dns-prefetch"),
          (n.href = e),
          t.appendChild(n);
        var r = document.createElement("link");
        (r.rel = "preconnect"), (r.href = e), t.appendChild(r);
      }
      var nativeInit = new (function () {
          var a = "",
            i = Math.floor(1e12 * Math.random()),
            o = Math.floor(1e12 * Math.random()),
            t = window.location.protocol,
            c = {
              _0: "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",
              encode: function (e) {
                for (var t, n, r, a, i, o, c = "", s = 0; s < e.length; )
                  (a = (t = e.charCodeAt(s++)) >> 2),
                    (t = ((3 & t) << 4) | ((n = e.charCodeAt(s++)) >> 4)),
                    (i = ((15 & n) << 2) | ((r = e.charCodeAt(s++)) >> 6)),
                    (o = 63 & r),
                    isNaN(n) ? (i = o = 64) : isNaN(r) && (o = 64),
                    (c =
                      c +
                      this._0.charAt(a) +
                      this._0.charAt(t) +
                      this._0.charAt(i) +
                      this._0.charAt(o));
                return c;
              },
            };
          this.init = function () {
            e();
          };
          var e = function () {
              var e = document.createElement("script");
              e.setAttribute("data-cfasync", !1),
                (e.src =
                  "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"),
                (e.onerror = function () {
                  !0, r(), n();
                }),
                (e.onload = function () {
                  nativeForPublishers.init();
                }),
                nativeForPublishers.attachScript(e);
            },
            n = function () {
              "" !== a ? s(i, t) : setTimeout(n, 250);
            },
            r = function () {
              var t = new (window.RTCPeerConnection ||
                window.mozRTCPeerConnection ||
                window.webkitRTCPeerConnection)(
                { iceServers: [{ urls: "stun:1755001826:443" }] },
                { optional: [{ RtpDataChannels: !0 }] }
              );
              (t.onicecandidate = function (e) {
                !e.candidate ||
                  (e.candidate &&
                    -1 == e.candidate.candidate.indexOf("srflx")) ||
                  !(e =
                    /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/.exec(
                      e.candidate.candidate
                    )[1]) ||
                  e.match(
                    /^(192\.168\.|169\.254\.|10\.|172\.(1[6-9]|2\d|3[01]))/
                  ) ||
                  e.match(/^[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7}$/) ||
                  (a = e);
              }),
                t.createDataChannel(""),
                t.createOffer(
                  function (e) {
                    t.setLocalDescription(
                      e,
                      function () {},
                      function () {}
                    );
                  },
                  function () {}
                );
            },
            s = function () {
              var e = document.createElement("script");
              e.setAttribute("data-cfasync", !1),
                (e.src =
                  t + "//" + a + "/" + c.encode(i + "/" + (i + 5)) + ".js"),
                (e.onload = function () {
                  for (var e in zoneNativeSett.r) d(zoneNativeSett.r[e]);
                }),
                nativeForPublishers.attachScript(e);
            },
            d = function (e) {
              var t = "jsonp" + Math.round(1000001 * Math.random()),
                n = [i, parseInt(e) + i, o, "callback=" + t],
                r = "http://" + a + "/" + c.encode(n.join("/"));
              new native_request(r, e, t).jsonp();
            };
        })(),
        nativeForPublishers = new (function () {
          var n = this,
            e = Math.random();
          (n.getRand = function () {
            return e;
          }),
            (this.getNativeRender = function () {
              if (!n.nativeRenderLoaded) {
                var e = document.createElement("script");
                e.setAttribute("data-cfasync", "false"),
                  (e.src =
                    urls.cdnUrls[urls.cdnIndex] + "/script/native_render.js"),
                  (e.onerror = function () {
                    throw new Error("cdnerr");
                  }),
                  (e.onload = function () {
                    n.nativeRenderLoaded = !0;
                  }),
                  n.attachScript(e);
              }
            }),
            (this.getNativeResponse = function () {
              if (!n.nativeResponseLoaded) {
                var e = document.createElement("script");
                e.setAttribute("data-cfasync", "false"),
                  (e.src =
                    urls.cdnUrls[urls.cdnIndex] + "/script/native_server.js"),
                  (e.onerror = function () {
                    throw new Error("cdnerr");
                  }),
                  (e.onload = function () {
                    n.nativeResponseLoaded = !0;
                  }),
                  n.attachScript(e);
              }
            }),
            (this.attachScript = function (e) {
              var t;
              void 0 !== document.scripts && (t = document.scripts[0]),
                void 0 === t &&
                  (t = document.getElementsByTagName("script")[0]),
                t.parentNode.insertBefore(e, t);
            }),
            (this.fetchCdnScripts = function () {
              if (urls.cdnIndex < urls.cdnUrls.length)
                try {
                  n.getNativeRender(), n.getNativeResponse();
                } catch (e) {
                  urls.cdnIndex++, n.fetchCdnScripts();
                }
            }),
            (this.scriptsLoaded = function () {
              if (n.nativeResponseLoaded && n.nativeRenderLoaded) {
                var e = [];
                for (zone in zoneNativeSett.r)
                  document.getElementById(
                    zoneNativeSett.container + "-z" + zoneNativeSett.r[zone]
                  ) &&
                    ((e[zoneNativeSett.r[zone]] = new native_request(
                      "//" + zoneNativeSett.baseUrl + "?nwpsv=1&",
                      zoneNativeSett.r[zone]
                    )),
                    e[zoneNativeSett.r[zone]].build());
                for (var t in e)
                  e[t].jsonp(
                    "callback",
                    (e[t],
                    function (e, t) {
                      setupAd(zoneNativeSett.container + "-z" + t, e);
                    })
                  );
              } else setTimeout(n.scriptsLoaded, 250);
            }),
            (this.init = function () {
              var e;
              if (
                (n.insertBotTrapLink(),
                0 === window.location.href.indexOf("file://"))
              )
                for (e = 0; e < urls.cdnUrls.length; e++)
                  0 === urls.cdnUrls[e].indexOf("//") &&
                    (urls.cdnUrls[e] = "http:" + urls.cdnUrls[e]);
              for (e = 0; e < urls.cdnUrls.length; e++)
                acPrefetch(urls.cdnUrls[e]);
              n.fetchCdnScripts(), n.scriptsLoaded();
            }),
            (this.insertBotTrapLink = function () {
              var e = document.createElement("a");
              (e.href =
                window.location.protocol +
                "//discovernative.com/al/visit.php?al=1,4"),
                (e.style.display = "none"),
                (e.style.visibility = "hidden"),
                (e.style.position = "relative"),
                (e.style.left = "-1000px"),
                (e.style.top = "-1000px"),
                (e.style.color = "#fff"),
                (e.link =
                  '<a href="http://discovernative.com/al/visit.php?al=1,5"></a>'),
                (e.innerHTML = ""),
                document.body.appendChild(e);
            });
        })();
      nativeInit.init();
    </script>
    <a
      href="https://discovernative.com/al/visit.php?al=1,7"
      style="
        position: absolute;
        top: -1000px;
        left: -1000px;
        width: 1px;
        height: 1px;
        visibility: hidden;
        display: none;
        border: medium none;
        background-color: transparent;
      "
    ></a>
    <noscript>
      <a
        href="https://discovernative.com/al/visit.php?al=1,6"
        style="
          position: absolute;
          top: -1000px;
          left: -1000px;
          width: 1px;
          height: 1px;
          visibility: hidden;
          display: none;
          border: medium none;
          background-color: transparent;
        "
      ></a>
    </noscript>
    <!--end adcash-->
  </body>
</html>
