<div class="share-container">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{protocol}}://{{site_domain}}{{post.get_absolute_url}}&media=&description=" target="_blank" class="pop share-icon"><i class="fab fa-facebook-f"></i></a>
    <a href="https://twitter.com/intent/tweet?text={{protocol}}://{{site_domain}}{{post.get_absolute_url}}&media=&description=" target="_blank" class="pop share-icon"><i class="fab fa-twitter"></i></a>
    <a href="https://api.whatsapp.com/send?text={{protocol}}://{{site_domain}}{{post.get_absolute_url}}&media=&description=" target="_blank" class="pop share-icon"><i class="fab fa-whatsapp"></i></a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&title=%s&url={{protocol}}://{{site_domain}}{{post.get_absolute_url}}&media=&description=" target="_blank" class="pop share-icon"><i class="fab fa-linkedin"></i></a>
</div>
